.container {
  display: flex;
  height: 100%;
}

.content {
  width: 100%;
  background-color: #f8f8f8;
  padding: 3rem;
  text-align: center;
  .mainContent {
    @include flexSort(column, null, null, null);
    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px;
      margin-top: 20px;
      text-align: start;
    }

    .policyBox {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .policyItem {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: white;
      height: 70px;

      p {
        margin: 0;
        font-size: 18px;
        padding: 10px;
      }

      button {
        color: #007bff;
        background: none;
        border: none;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.buttonContainer {
  @include flexSort(null, flex-end, null, null);
}

.exitButton {
  width: 10rem;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #cccccc;
  font-size: 16px;
  border-radius: 5px;
}
