@mixin flexSort($direction, $justify, $alignItems, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignItems;
  gap: $gap;
}

@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Regular.ttf');
}

@mixin font($size, $weight, $height) {
  font-family: 'Inter';
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $height;
}
