.container {
  padding: 40px;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;

  .backButton {

    padding: 10px 20px;
    background-color: #CCCCCC;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 60px; 
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;

  .addIcon {
    font-size: 40px;
    color: #f1c40f;
    cursor: pointer;
  }

  .productImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .productName {
    font-size: 16px;
    text-align: center;
  }
}
